<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" routerLink="/home">
        <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> Wirral Wheelers
    </a>

    <div class="btn-group" dropdown placement="bottom right">
        <button dropdownToggle type="button" class="navbar-toggler btn btn-primary dropdown-toggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
            <li role="menuitem" *ngFor="let menuItem of menuItems">
                <a class="nav-link" routerLink="{{menuItem.route}}">{{menuItem.title}}</a>
            </li>
        </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarDefault">
        <ul class="navbar-nav mr-auto">
            <span *ngFor="let menuItem of menuItems">
                <li class="nav-item">
                    <a [class.active]="isActive(menuItem.route) ? true : false" class="nav-link" routerLink="{{menuItem.route}}">{{menuItem.title}}</a>
                </li>
            </span>
        </ul>
    </div>
</nav>
