<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" routerLink="/home">
        <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> Wirral Wheelers
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/rides">Rides</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/rideArchive">Ride Archive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/proposedRides">Proposed Rides</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/gallary">Gallary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
        </ul>
    </div>
</nav>
