<div class="card">
    <div class="card-body">
        <h5 class="card-title">Rides</h5>
        <h6 class="card-subtitle mb-2 text-muted">All rides Leave at approximately 10:30</h6>
        Rider Level
        <br />
        <span class="red-text">A</span> - Hard |
        <span class="blue-text">B</span> - Medium |
        <span class="green-text">C</span> - Easy (Ideal for beginners)
        <br />
        <a href="https://twitter.com/Eureka_Cafe?lang=en" target="_window">
            <div class="fa fa-map-marker"></div>
            Chester Eureka - Two Mills
        </a>
        <br />
        <a href="https://twitter.com/netscoffeeshop?lang=en" target="_window">
            <div class="fa fa-map-marker"></div>
            Nets - Burton Point
        </a>
        <br />
        <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g186233-d3619126-Reviews-Cafe_At_The_Walls-Chester_Cheshire_England.html"
            target="_window">
            <div class="fa fa-map-marker"></div>
            Chester - The Café On the Wall, Lower Bridge Street
        </a>
    </div>
</div>
