# Test against the latest version of this Node.js version
environment:
  nodejs_version: "8.9"

# Install scripts. (runs after repo cloning)
install:
  # Get the latest stable version of Node.js or io.js
  - ps: Install-Product node $env:nodejs_version
  # install modules
  - npm i -g eslint
  - npm i -g eslint-plugin-promise
  - npm i -g nyc
  - npm i -g firebase-tools
  - npm install

# Post-install test scripts.
test_script:
  # Output useful info for debugging
  - node --version
  - npm --version
  # run eslint
  - npm --prefix ./functions run lint
  # run tests
  - nyc ./node_modules/.bin/mocha ./test/**/*.spec.js --reporter mocha-appveyor-reporter
  - nyc report --reporter=lcov
  - ./node_modules/.bin/codecov -t $CODECOV_TOKEN

deploy:
  - firebase deploy --only functions --token $FIREBASE_TOKEN

# Don't actually build.
build: off
