# Test against the latest version of this Node.js version
environment:
  nodejs_version: "8.9"

# Install scripts. (runs after repo cloning)
install:
  # Get the latest stable version of Node.js or io.js
  - ps: Install-Product node $env:nodejs_version
  # install modules
  - npm i -g typescript
  - npm i -g tslint
  - npm i -g mocha chai ts-node
  - npm i -g nyc
  - npm i -g firebase-tools
  - npm i -g aurelia-cli
  - npm install
  - cd functions
  - npm install
  - cd ..
  - cd website
  - npm install
  - cd ..

# Post-install test scripts.
test_script:
  # Output useful info for debugging
  - node --version
  - npm --version
  # tslint -p tslint.json && tsc
  - npm --prefix ./functions run-script build
  # run tests
  - npm run-script test-appveyor
  - nyc report --reporter=lcov
  - ./node_modules/.bin/codecov -t ad05d2e5-42d1-4075-b570-ca452ddf24dd

# Don't actually build.
build_script:
  - cd website
  - ng build --prod
  - cd ..

deploy_script:
  - ps: . .\deploy.ps1
