<div class="row d-block d-md-none">
    <div class="col">
        <div class="text-center font-weight-normal" style="font-size: 10px">
            Wirral Wheelers Cycling Club
            <br /> Cycling UK Affiliation No: 90095292
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3 d-none d-md-block">
        <img src="assets/images/logo.png" alt="The Wirral Wheelers logo" class="d-block w-100" />
        <div class="text-center font-weight-bold" style="font-size: 12px">
            Wirral Wheelers Cycling Club
            <br /> Cycling UK Affiliation No: 90095292
        </div>
        <div class="text-center">
            <a target="_window" href="https://www.facebook.com/groups/720974911368611/" class="right fa fa-facebook-official fa-2x white-text"></a>
            <a target="_window" href="https://www.google.com/" class="right fa fa-google-plus-official fa-2x white-text"></a>
            <a target="_window" href="https://www.instagram.com/" class="right fa fa-instagram fa-2x white-text"></a>
            <a target="_window" href="https://www.twitter.com/" class="right fa fa-twitter fa-2x white-text"></a>
            <a title="Strava" target="_window" href="https://www.strava.com/">
                <img src="assets/images/strava-32x32.png" />
            </a>
        </div>
    </div>
    <div class="col">
        <p>Welcome to the Wirral Wheelers we are an affiliated club part of the national network of the Cycling UK</p>
        <p>We run rides starting mainly on the Wirral Peninsular &amp; Chester. There are rides every Sunday, Impromptu Wednesday
            rides, and monthly Saturday rides. We organise full day cycle rides take a look at our rides to see where we
            are going and see if any appeal to you. With rides into the lanes of Wirral, Cheshire, and the hillier parts
            of North Wales</p>
        <p>We want as many people as possible to enjoy cycling. We are a friendly group - why not come along</p>
        <p>We cycle mostly on surfaced roads at an average speed of 10-12 miles per hour - but speeds and surfaces do alter
            all you need is a normal road bike to ride with us. We arrange routes with plenty of sight-seeing, eating and
            drinking. Our rides are led by experienced runs leaders</p>
        <p>You don't need to be Chris Boardman to ride with us. We will stop for lunch at a café or a pub where there is usually
            somewhere suitable close by for those who prefer to bring their own packed lunch</p>
        <p>No-one will be left behind, especially not newcomers</p>
    </div>
</div>

<div class="row">
    <div class="carousel-container">
        <carousel>
            <slide>
                <img src="https://firebasestorage.googleapis.com/v0/b/thewirralwheelers.appspot.com/o/home%2FNewYearsEve2017.jpg?alt=media&token=72bf8278-81a5-499f-a82b-ccd0f5faa49b"
                    alt="New Years Eve club run">
                <div class="carousel-caption d-none d-md-block">
                    <h3>New Year's Eve 2017</h3>
                    <p>New Year's Eve 2017 club run from New Brighton to West Kirby.</p>
                </div>
            </slide>
            <slide>
                <img src="https://firebasestorage.googleapis.com/v0/b/thewirralwheelers.appspot.com/o/home%2Fphoto1.jpg?alt=media&token=7b2d9c66-a2ac-4d63-8dc2-e751a8397168"
                    alt="Another club run">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Another club run</h3>
                    <p>Just another Sunday club run</p>
                </div>
            </slide>
            <slide>
                <img src="https://firebasestorage.googleapis.com/v0/b/thewirralwheelers.appspot.com/o/home%2Fphoto3.png?alt=media&token=5f5f39e5-2e8d-4b5c-8e3e-f8952beb854d"
                    alt="Another club run to somewhere">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Another club run</h3>
                    <p>Yet another Sunday club run</p>
                </div>
            </slide>
            <slide>
                <img src="https://firebasestorage.googleapis.com/v0/b/thewirralwheelers.appspot.com/o/home%2Fphoto2.png?alt=media&token=191ec9b1-cfd7-4a19-b80e-60e4fdb99dc6"
                    alt="Some of the longer standing members of the club">
                <div class="carousel-caption d-none d-md-block">
                    <h3>The originals</h3>
                    <p>Some of the longer standing members of the club</p>
                </div>
            </slide>
        </carousel>
    </div>
</div>
